<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Anmelden</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-img src="../../assets/svg/signin_01.svg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form [formGroup]="credentials" (ngSubmit)="signIn()">
          <ion-item class="ion-margin-bottom">
            <ion-label position="floating">E-Mail Adresse</ion-label>
            <ion-icon slot="end" name="mail"></ion-icon>
            <ion-input type="email" placeholder="max@mustermann.de" formControlName="email" autocomplete="email"></ion-input>
            <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">E-Mail ungültig</ion-note>
          </ion-item>
          <ion-item class="ion-margin-bottom">
            <ion-label position="floating">Passwort</ion-label>
            <ion-icon slot="end" name="key"></ion-icon>
            <ion-input type="password" placeholder="min. 10 Zeichen" formControlName="password" autocomplete="current-password"></ion-input>
            <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Passwort ungültig
            </ion-note>
          </ion-item>
          <ion-button expand="full" type="submit" [disabled]="!credentials.valid">Anmelden</ion-button>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button fill="clear" expand="full" (click)="navigateToResetPassword()">Passwort vegessen?</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="navigateToSignUp()">Neues Konto erstellen</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
