<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Bookify</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="booking">
    <ion-row class="ion-justify-content-center ion-margin-vertical">
      <ion-col size="10">
        <ion-img src="../../../assets/svg/bookingoverview.svg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
          <ion-label>
            <h2>{{ this.currentBooking?.service.description }}</h2>
            <h3>{{ this.currentBooking?.date.getStartTimeString() }}</h3>
            <h3>{{ this.currentBooking?.date.getEndTimeString() }}</h3>
          </ion-label>
        </ion-item>
        <ion-item button lines="none">
          <ion-icon name="mail" slot="start" color="primary"></ion-icon>
          <ion-label>
            <h2>{{ this.currentBooking?.provider.name }}</h2>
            <h3 (click)="sendMail(this.currentBooking?.provider.email)">{{ this.currentBooking?.provider.email }}</h3>
          </ion-label>
          <ion-avatar slot="end">
            <img [src]="this.currentBooking?.provider.avatar">
          </ion-avatar>
        </ion-item>
        <ion-item button (click)="callNumber(this.currentBooking?.provider.phone)" lines="full">
          <ion-icon name="call" slot="start" color="primary"></ion-icon>
          <ion-label>{{ this.currentBooking?.provider.phone }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer [hidden]="!this.inFuture">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="secondary" expand="full" (click)="cancelBooking()">Stornieren</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
