<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="profile()">
        <ion-icon slot="icon-only" name="person" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center>
      Bookify
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>Nächste Termine</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center" *ngIf="this.futureBookings?.length <= 0">
      <ion-col>
        <h3>Keine Termine vorhanden</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <div *ngFor="let booking of this.futureBookings">
            <ion-item class="booking" button lines="full" (click)="bookingOverview(booking)">
              <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
              <ion-label>
                <h2>{{booking.service.description}}</h2>
                <h3>{{booking.date?.getStartTimeString()}} - {{booking.date?.getEndTimeString()}}</h3>
              </ion-label>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>Vergangene Termine</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center" *ngIf="this.pastBookings?.length <= 0">
      <ion-col>
        <h3>Keine Termine vorhanden</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <div *ngFor="let booking of this.pastBookings">
            <ion-item class="booking" button lines="full" (click)="bookingOverview(booking)">
              <ion-icon name="calendar-clear" slot="start" color="primary"></ion-icon>
              <ion-label>
                <h2>{{booking.service.description}}</h2>
                <h3>{{booking.date?.getStartTimeString()}} - {{booking.date?.getEndTimeString()}}</h3>
              </ion-label>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer color="primary">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="newBooking()">Neuer Termin</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
