<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button *ngIf="this.currentSlide > 0" (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="abort()">
        <ion-icon slot="icon-only" name="close" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Bookify</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-slides #slides class="swiper-no-swiping">
    <ion-slide>
      <ion-grid class="booking">
        <ion-row class="ion-text-start">
          <ion-col>
            <ion-text>Dienstleistung</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>
              <div *ngFor="let service of services">
                <ion-item button lines="full" (click)="chooseProviderSlide(service)">
                  <ion-icon name="briefcase" slot="start" color="primary"></ion-icon>
                  <ion-label>
                    <h2>{{ service?.description }}</h2>
                    <h3>{{ this.calculateDuration(service?.duration) }}</h3>
                  </ion-label>
                </ion-item>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid class="booking">
        <ion-row class="ion-text-start">
          <ion-col>
            <ion-text>Dienstleister</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item lines="full" button (click)="chooseDateSlide(null)">
                <ion-icon name="shuffle" slot="start" color="primary"></ion-icon>
                <ion-label>
                  <h2>Zufällig</h2>
                </ion-label>
              </ion-item>
              <div *ngFor="let provider of providers">
                <ion-item lines="full" button (click)="chooseDateSlide(provider)">
                  <!-- <ion-icon name="person" slot="start" color="primary"></ion-icon> -->
                  <ion-avatar slot="start">
                    <img [src]="provider.avatar">
                  </ion-avatar>
                  <ion-label>
                    <h2>{{ provider.name }}</h2>
                  </ion-label>
                </ion-item>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid class="booking">
        <ion-row class="ion-text-start">
          <ion-col>
            <ion-text>Termin</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-datetime [(ngModel)]="this.calendarDate" #calendar (ionChange)="calendarChange(calendar.value)" color="primary" locale="de-DE"
              presentation="date" displayFormat="YYYY" firstDayOfWeek="1" [isDateEnabled]="isValidDay" max="2099-12-31">
            </ion-datetime>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-start">
            <ion-text>
              Verfügbare Zeiten (Dauer: {{ this.calculateDuration(this.selectedService?.duration) }})
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-chip *ngFor="let slot of availableSlots | keyvalue" color="primary" (click)="confirmSlide(slot)" [disabled]="slot.value.blocked">{{ slot.value.timeString }}</ion-chip>
            <ion-text *ngIf="this.availableSlots.size <= 0">
              Keine Termine vorhanden
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid class="booking">
        <ion-row class="ion-justify-content-center ion-margin-vertical">
          <ion-col size="10">
            <ion-img src="../../../assets/svg/bookingconfirm.svg"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
              <ion-label>
                <h2>{{ this.selectedService?.description }}</h2>
                <h3>{{ this.selectedDate?.getStartTimeString() }}</h3>
                <h3>{{ this.selectedDate?.getEndTimeString() }}</h3>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-icon name="mail" slot="start" color="primary"></ion-icon>
              <ion-label>
                <h2>{{this.selectedProvider?.name}}</h2>
                <h3>{{this.selectedProvider?.email}}</h3>
              </ion-label>
            </ion-item>
            <ion-item lines="full">
              <ion-icon name="call" slot="start" color="primary"></ion-icon>
              <ion-label>{{this.selectedProvider?.phone}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer *ngIf="this.currentSlide === 3">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="full" (click)="confirmBooking()">Bestätigen</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
